<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<p class="about lead">
News Diamond collects the news and articles from your favorite websites in real time to create a personalized online newspaper just for you. News Diamond is designed especially for older adults, which means we took out everything distracting, unintuitive, and downright annoying (Pop-ups? We'll pass.) and instead give you a simple and powerful platform for accessing the stories you want on your terms. You're at the wisest and most knowledgeable point in your life— it's time your news caught up with you.
</p>

<div class="alert alert-info"><strong>Why the diamond?</strong> Historically, diamonds have represented 50th, 60th, and 75th anniversaries and birthdays— the perfect symbol for a beautiful platform designed for people in their 50's, 60's, 70's, and beyond.</div>


<hr class="divider">

<h1 class="page">Our Team <small>We're a family business.</small></h1>

<div class="row">
	<div class="span4">
		<img class="img-circle" alt="Chris Niles" style="width: 140px; height: 140px;" src="assets/chris.png">
		<h2>Chris Niles, CEO</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	</div>
	<div class="span4">
		<img class="img-circle" alt="Savannah Niles" style="width: 140px; height: 140px;" src="assets/savannah.png">
		<h2>Savannah Niles, CTO</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	</div>
	<div class="span4">
		<img class="img-circle" alt="Ileana Niles" style="width: 140px; height: 140px;" src="assets/ily.png">
		<h2>Ileana Niles, CFO</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	</div>
</div>