<% provide(:title, 'Contact Us') %>
<h1>Contact Us <small>We want to hear from you.</small></h1>

<p>

  <address>
	  <strong>News Diamond, Inc.</strong><br>
	  104 Blanca Meadows Ct.<br>
	  Cresson, TX 76035<br>
	  <abbr title="Phone">P:</abbr> (817) 396-0924
  </address>
 
  <address>
	<strong>Say Hello</strong><br>
	<a href="mailto:#">hello@newsdiamond.com</a>
  </address>

  <address>
	<strong>News Diamond Help</strong><br>
	<a href="mailto:#">help@newsdiamond.com</a>
  </address>

  <address>
	<strong>News Diamond Ads</strong><br>
	<a href="mailto:#">ads@newsdiamond.com</a>
  </address>

</p>