<li>
  <img src="../../assets/140x140.png" height="80px" alt="website icon">
  <span class="name lead text"><%= feed.name %></span>
  <p class="description text">
    <%= feed.description %> 
	</br><%= link_to "View articles", '#' %> | <%= link_to "Add to your newspaper", '#' %>
  </p>
</li>