<% provide(:title, 'Add Feed') %>
<h1>Add Feed</h1>

<div class="row">
  <div class="form">
    <%= form_for(@feed) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Feed", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>