<% provide(:title, @user.first_name) %>

<div class="two-line-header">
	<h1>Your Websites</h1>
	<h2 class="search-h2">0 Websites Total</h2>
	<form class="form-search">
	  <input type="text" class="input-medium search-query">
	  <button type="submit" class="btn">Search</button>
	</form>
</div>

<% if @feeds.any? %>

  <hr class="divider">
	<div id="example-list">

		  <div class="two-line-header">
		  	<h1>Add New Websites to your Newspaper</h1>
		  	<h2 class="search-h2">Search by website name and key words:</h2>
		    <form class="form-search">
		      <input type="text" class="input-medium search-query search">
		      <button type="submit" class="btn">Search</button>
		    </form>
		    <p class="lead left">Or browse by section:</p>
		    <button class="sort btn btn-info" data-sort="name">Sort by Name</button>
		  </div>

		
	    

	    <ul class="list feeds_list">
	      <% @feeds.each do |feed| %>
	        <%= render feed %>
	      <% end %>
	    </ul>
	    <div class="pagination">
	    	<ul class="pagingBottom"></ul>
	    </div>
	</div>
 
<% end %>