<li>
	<%= image_tag(section.image_src, width: "45px", height: "45px", alt: "section icon") %>
    <%= link_to capitalized_title(section.name), section %>
    | <%= link_to 'Edit', edit_section_path(section) %>
</li>