<li>
	<img src="assets/140x140.png" height="45px" width="45px" alt="section icon">
    <%= link_to capitalized_title(section.name), section %>
    | <%= link_to 'Edit', edit_section_path(section) %>
</li>