@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  color: #5a5a5a;
  padding-top: 60px;
  font-size: 16px;
}

section {
  overflow: auto;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container,  {
  width: 90%;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  a {
    margin: 0px auto;
    margin-top: 10px;
  }
}

.left {
  text-align: left;
}

.clear-left {
  display: block;
  clear: left;
}

.alert {
  width: 75%;
  margin: 40px auto;
  padding: 8px 14px 8px 14px;
}

.pagination {
  margin: 40px 0 40px -50px;
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #333333;
  font-size: 3em;
  letter-spacing: -2px;
  margin: 50px 0px;
  small {
    letter-spacing: -1px;
  }
  .btn {
    letter-spacing: 0px;
  }
}

h2 {
  text-align: center;
  font-weight: normal;
}

.two-line-header {
  margin: 50px 0px;
  h1 {
    margin: 0px;
  }
  h2 {
    margin: 5px 0px 0 0;
    text-align: left;
  }
  .search-h2 {
    margin: 5px 20px 0 0;
    float: left;
  }
  .form-search {
    padding: 10px;
    margin: 0px;
  }
}


/* header */

.navbar-inner {
  padding: 7px 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 7px;
  font-weight: lighter;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.logo-diamond {
  height: 40px;
  position: absolute;
}

.help-icon {
  height: 40px;
  padding-left: 10px;
}

/* footer */

footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
    margin-top: 5px;
    span .logo-diamond {
      height: 29px;
      position: relative;
    }
  }
  .privacy {
      position: absolute;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin: 10px 25px 10px 0px;
    }
  }
}

/* splash page */
.jumbotron {
  font-size: center;
  margin: 25px 0;
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  h1 {
    font-size: 100px;
  }
  .lead {
    font-size: 24px;
    line-height: 1.5;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.divider {
  clear: both;
  margin: 80px 0;
}

.featurette {
  text-align: left;
  padding-top: 120px;
  overflow: hidden;
  h2 {
    text-align: left;
  }
}

.featurette-image {
  margin-top: -120px;
  .pull-right {
    margin-left: 40px;
  }
  .pull-left {
    margin-right: 40px;
  }
}

.featurette-heading {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
}

.bottom-signup  {
  width: 50%;
  margin: 40px auto;
  text-align: center;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/*splash page and about*/

.row {
  text-align: center;
  margin: 0px auto 60px;
  .span4 {
    width: 31%;
    text-align: center;
    p {
      margin: 0px 10px;
      text-align: left;
    }
    img {
      margin-bottom: 20px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

.form {
  width: 350px;
  margin: 0px auto;
  padding: 20px;
  text-align: left;
  color: #333333;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #f5f5f5;
  form .btn {
    margin: 10px 0;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#follow_form form {
  display: inline;
}

/* Users index */

.users-index, .sections-index {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* feeds */

.feeds_list {
  list-style: none;
  margin: 10px 0 0 0;
  display: block;
  li {
    padding: 10px 0px;
    margin-right: 20px;
    border-top: 1px solid #e8e8e8;
    height: 120px;
    overflow: hidden;
    width: 48%;
    float: left;

    img {
      height: 80px;
      position: absolute;
      padding: 2px 0px;
    }
    .name {
      line-height: 22px;
    }
    .text {
      margin-left: 90px;
    }
    p, .lead {
      margin-bottom: 0;
    }
  }
}

.two-column {
  margin-right: 30px;
}

.pagination {
  clear: left;
  .pagingTop, .pagingBottom {
    .page {
      float: left;
      padding: 4px 12px;
      line-height: 20px;
      text-decoration: none;
      background-color: white;
      border: 1px solid #dddddd;
    }
  }
}


/* Home-- signed in*/

.home-sections {
  display: block;
  li, li:last-child {
    width: 23%;
    border: none;
    float: left;
    padding: 10px;
    position: relative;
    .name {
      position: absolute;
      top: 10px;
      padding: 20px;
      font-size: 41px;
      line-height: 41px;
      background-color: rgba(104, 104, 104, .75);
      width: 79%;
      color: white;
    }
    .name:hover {
      text-decoration: none;
    }
    img {
      width: 100%;
    }
  }
}

#home-divder {
  clear: both;
  display: block;
  display: hidden;
}

.your-account {
  display: block;
  clear: left;
  margin: 0px auto;
  height: 120px;
  text-align: left;
  .span7 {
    img {
      height: 80px;
      position: absolute;
      padding: 7px 0px;
    }
    .text {
      margin-left: 90px;
    }
  }
}

/* section page-- show */

.section-header {
  height: 160px;
  img {
    position: absolute;
    padding-top: 7px;
  }
  .text {
    margin-left: 150px;
  }
  ul { 
    margin-top: 8px;
    img {
      position: static;
      height: 50px;
      padding: 3px;
      float: left;
    }
  }
}

/* articles */

.articles_list {
  list-style: none;
  display: block;
  margin: 10px 0 0 0;
  li {
    width: 23%;
    border: none;
    float: left;
    padding: 10px;
    position: relative;
    .name {
      position: absolute;
      bottom: 170px;
      padding: 9px;
      padding-left: 8px;
      font-size: 29px;
      line-height: 33px;
      background-color: rgba(104, 104, 104, .75);
      width: 86%;
      color: white;
      a {
        color: white;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .description {
      height: 160px;
      overflow: hidden;
      padding-top: 10px;
    }
    img {
      width: 100%;
    }
  }
}

/* article show page */
.article-nav-links {
  max-width: 30%;
}









